{{- $machine := includeTemplate "machine" . | fromJson -}}
{{- $platform := deepCopy .aiAgentPlatform -}}
{{- if eq $machine.features.aiMode "remote" -}}
  {{- $proxy := set (deepCopy $platform.proxy) "url" "http://cliproxyapi:8317" -}}
  {{- $platform = set $platform "proxy" $proxy -}}
{{- end -}}
{{- $platform | toPrettyJson }}
