{{- $machine := includeTemplate "machine" . | fromJson -}}
{{- $platform := deepCopy .aiAgentPlatform -}}
{{- $proxy := set (deepCopy $platform.proxy) "url" $machine.gatewayUrl -}}
{{- $_ := set $proxy "mode" $machine.features.aiGateway -}}
{{- $platform = set $platform "proxy" $proxy -}}
{{- $platform | toPrettyJson }}
