{{- $setupSshKey := promptBool "Setup SSH key" -}}
{
  "encryption": "age",
  "age": {
    "identity": "~/.config/chezmoi/key.txt",
    "recipient": "age1naksqkvrfy66sr6ezvw3ykf5ga4tuzp67q78dm94weeduydwssrqx7j67x"
  },
  "data": {
    "profile": {{ promptChoice "Machine profile" (list "personal" "dev" "server") | quote }},
    "setupSshKey": {{ $setupSshKey }},
    "name": {{ promptString "Git user name" "Satyam" | quote }},
    "email": {{ promptString "Git email address" "75127014+satyvm@users.noreply.github.com" | quote }}
  }
}