README.md
LICENSE
AGENTS.md
.setup.sh
scripts
cursor-default.code-profile

{{- if ne .chezmoi.os "darwin" }}
run_once_after_setup-macos-defaults.sh.tmpl
run_once_after_cleanup-macos-apps.sh.tmpl
{{- end }}

{{- if ne .chezmoi.os "linux" }}
run_once_after_setup-linux.sh.tmpl
run_onchange_apt-packages.sh.tmpl
{{- end }}

{{- if and (hasKey . "profile") (eq .profile "server") }}
run_once_after_setup-macos-defaults.sh.tmpl
{{- end }}

{{- if and (hasKey . "profile") (ne .profile "dev") }}
{{- end }}
