{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash
set -eufo pipefail

brew bundle --file=/dev/stdin <<EOF
brew "neovim"
brew "tmux"
brew "starship"
brew "git"
brew "tree"
brew "jq"
brew "gh"
brew "bat"
brew "git-delta"
brew "lazygit"
brew "eza"
brew "tlrc"
brew "zoxide"
brew "fzf"
brew "ripgrep"
brew "fd"
brew "tree-sitter-cli"
brew "zsh-autosuggestions"
brew "zsh-history-substring-search"
brew "glow"
brew "fnm"
brew "mas"
brew "opencode"
cask "gcloud-cli"
brew "awscli"
cask "xquartz"

cask "google-chrome"
cask "helium-browser"
cask "zen"
cask "1password"
cask "discord"
cask "telegram"
cask "iina"
cask "notion"
cask "notion-calendar"
cask "veracrypt"

cask "cursor"
cask "antigravity"
cask "google-gemini"
cask "ghostty"
cask "yaak"

cask "raycast"
cask "handy"
cask "onyx"
cask "appcleaner"
cask "TheBoredTeam/boring-notch/boring-notch"
cask "jordanbaird-ice"
cask "maccy"
cask "font-meslo-lg-nerd-font"
cask "font-noto-sans"

cask "google-drive"
cask "proton-drive"
cask "protonvpn"

mas "TestFlight", id: 899247664
mas "WireGuard", id: 1441195209
mas "Velja", id: 1607635639
mas "GoodNotes", id: 1444383602