{{- if ne .chezmoi.os "linux" -}}
{{- if ne (env "CODESPACES") "true" -}}
#!/bin/bash
set -eufo pipefail

if ! command -v rustup &> /dev/null; then
  echo "🦀 Installing rustup..."
  curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
fi

if ! command -v uv &> /dev/null; then
  echo "🐍 Installing uv..."
  curl -LsSf https://astral.sh/uv/install.sh | sh
fi
{{ end -}}
{{ end -}}
