{{- if or (eq .chezmoi.os "darwin") (eq .chezmoi.os "linux") -}}
#!/bin/bash
set -eufo pipefail

export PATH="/home/linuxbrew/.linuxbrew/bin:/opt/homebrew/bin:/usr/local/bin:$PATH"

if command -v brew &> /dev/null; then
brew bundle --file=/dev/stdin <<EOF
brew "chezmoi"

{{- if or (eq .profile "dev") (eq .profile "server") }}
{{- if eq .chezmoi.os "darwin" }}
brew "git"
brew "curl"
brew "wget"
{{- end }}
brew "git-delta"
brew "gh"
brew "jj"
brew "lazygit"
brew "starship"
brew "zsh-autosuggestions"
brew "zsh-syntax-highlighting"
brew "zsh-history-substring-search"
brew "thefuck"
brew "bat"
brew "eza"
brew "fd"
brew "fzf"
brew "ripgrep"
brew "jq"
brew "glow"
brew "tlrc"
brew "zoxide"
brew "neovim"
brew "tmux"
brew "tree-sitter-cli"
brew "pet"

brew "btop"
brew "watch"
brew "fnm"
brew "go"

# tools for mise
brew "mise"
brew "clang-format"
brew "freetype"
brew "gettext"
brew "gperf"
brew "imlib2"
brew "lcov"
brew "librsvg"
brew "libxfixes"
brew "libxft"
brew "libxi"
brew "libxinerama"
brew "libxml2"
brew "lua"
brew "pkg-config"
brew "tpm"

brew "herdr"
brew "kondo"
brew "shellcheck"
brew "commitizen"

{{- if eq .chezmoi.os "darwin" }}
brew "colima"
brew "docker"
brew "docker-compose"
{{- end }}
{{- end }}

{{- if and (eq .chezmoi.os "darwin") (or (eq .profile "personal") (eq .profile "dev")) }}
brew "mas"
cask "helium-browser"
cask "discord"
cask "telegram"
cask "whatsapp"
cask "raycast"
cask "notion"
cask "notion-calendar"

cask "dockdoor"
cask "TheBoredTeam/boring-notch/boring-notch"
cask "jordanbaird-ice"
cask "shottr"
cask "hyperkey"

cask "iina"
cask "appcleaner"
cask "veracrypt"
cask "google-drive"
cask "protonvpn"
cask "handy"

cask "font-jetbrains-mono-nerd-font"
{{- end }}

{{- if and (eq .chezmoi.os "darwin") (eq .profile "dev") }}
cask "zen"
cask "google-gemini"

cask "zed"
cask "antigravity-ide"
cask "antigravity-cli"

cask "alacritty"
cask "ghostty"
cask "yaak"
cask "utm"
cask "onyx"
cask "basictex"
{{- end }}
EOF
else
  echo "⚠️ Homebrew not found. Skipping brew bundle."
fi
{{ end -}}
