[user]
  name = {{ .name | quote }}
  email = {{ .email | quote }}
{{- if and .setupCli (or .setupSshKey (stat (joinPath .chezmoi.homeDir ".ssh/gh_personal.pub")) ) }}
  signingkey = {{ joinPath .chezmoi.homeDir ".ssh/gh_personal.pub" | quote }}

[gpg]
  format = ssh

[commit]
  gpgsign = true

[tag]
  gpgsign = true
{{- end }}

{{- if .setupCli }}
[init]
  defaultBranch = main

[pull]
  rebase = true

[core]
  editor = nvim
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  side-by-side = true
  line-numbers = true

[merge]
  conflictstyle = diff3
{{- end }}
