[user]
  name = {{ output "git" "config" "--global" "user.name" | trim | quote }}
  email = {{ output "git" "config" "--global" "user.email" | trim | quote }}
  signingkey = {{ .chezmoi.homeDir }}/.ssh/gh_personal.pub

[gpg]
  format = ssh

[commit]
  gpgsign = true

[tag]
  gpgsign = true

[init]
  defaultBranch = main

[pull]
  rebase = true

[core]
  editor = nvim
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  side-by-side = true
  line-numbers = true

[merge]
  conflictstyle = diff3
