# .exports
export EDITOR="nvim"
{{- if and (eq .chezmoi.os "darwin") (eq .profile "dev") }}
export VISUAL="agy-ide"
{{- else }}
export VISUAL="nvim"
{{- end }}
export LANG="en_US.UTF-8"
export LC_ALL="en_US.UTF-8"

# XDG
export XDG_CONFIG_HOME="$HOME/.config"
export NPM_CONFIG_USERCONFIG="$XDG_CONFIG_HOME/npm/config"
export DOCKER_CONFIG="$XDG_CONFIG_HOME/docker"
export STARSHIP_CONFIG="$XDG_CONFIG_HOME/starship/starship.toml"

# PATH
export PATH="$HOME/.local/bin:$PATH"

# Eza
export EZA_COLORS='di=1;34'

# bat
export BAT_THEME="TwoDark"
export MANPAGER="sh -c 'col -bx | bat -l man -p'"
export MANROFFOPT="-c"

# fzf + fd + bat
export FZF_DEFAULT_COMMAND='fd --type f --hidden --exclude .git'
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"
export FZF_ALT_C_COMMAND='fd --type d --hidden --exclude .git'
export FZF_CTRL_T_OPTS="--preview 'bat --color=always --style=numbers --line-range=:500 {}'"
export FZF_ALT_C_OPTS="--preview 'eza --tree --icons --color=always {} | head -200'"

# Rust
[[ -f "$HOME/.cargo/env" ]] && source "$HOME/.cargo/env"

# History / Cache
[[ -d "$HOME/.cache/zsh" ]] || mkdir -p "$HOME/.cache/zsh"
export HISTFILE="$HOME/.cache/zsh/history"
export HISTSIZE=50000
export SAVEHIST=50000

# Mise
export MISE_LOCKED=0

#go
export GOPATH="$HOME/.go"
export PATH="$PATH:$GOPATH/bin"

# Bun
export BUN_INSTALL="$HOME/.bun"
export PATH="$BUN_INSTALL/bin:$PATH"
