# .aliases

alias rm='rm -i'
alias cp='cp -iv'
alias mv='mv -iv'
alias mkdir='mkdir -pv'
alias ..='cd ../'
alias ...='cd ../../'
{{- if eq .chezmoi.os "darwin" }}
alias f='open -a Finder ./'
{{- end }}
alias ~="cd ~"
alias c='clear'
alias e='$EDITOR'
alias edit='$EDITOR'
alias ve='$VISUAL'
alias vedit='$VISUAL'
alias gfast='git add . && git commit -m "update" && git push'

alias ls='eza -l --group-directories-first --icons --hyperlink'
alias lsa='ls -a'
alias lt='eza --tree --level=2 --long --icons --git'
alias lta='lt -a'

alias cd='z'
alias cat="bat --paging=never"
alias lg="lazygit"
alias tl="tldr"

alias dot='curl -sfL https://raw.githubusercontent.com/satyvm/dot/main/.setup.sh | bash'
alias vec='$VISUAL ~/.local/share/chezmoi'
alias ec='$EDITOR ~/.local/share/chezmoi'

alias dc='docker compose'
alias dcup='dc up -d'
alias dcdown='dc stop && dc down --remove-orphans'
alias dce='docker compose exec'
alias kctl='kubectl'

{{- if eq .chezmoi.os "darwin" }}
alias flushdns="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder"
alias showfiles="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hidefiles="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"
{{- end }}

{{- if eq .chezmoi.os "linux" }}
alias update="sudo apt update && sudo apt upgrade -y"
alias ports="sudo ss -tulnp"
{{- end }}
